@model ProjectBSIS401.WEB.ViewModels.feedback.IndexViewModel
@using ProjectBSIS401.WEB.Infrastructures.Domain.Models
@{
    ViewData["Title"] = "Index";
}


@{
   
        <table class="table">
            <tr>
                <th>
                    Fullname
                </th>
                <th>
                    Email-Address
                </th>
                <th></th>
            </tr>
            @foreach (FeedBack feed in Model.FeedBacks)
                {
                    <tr>
                        <td>
                           @feed.FullName
                        </td>
                        <td>
                          @feed.Email
                        </td>
                        <td>
                            @feed.
                        </td>
                      
                        <td>
                            @*@Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.ID })*@
                        </td>
                    </tr>
                }
        </table>
    }

<p>
    @*@Html.ActionLink("Create New", "")*@
</p>
