@model ProjectBSIS401.WEB.ViewModels.booking.BookingViewModel
@using ProjectBSIS401.WEB.Infrastructures.Domain.Models


@{
    ViewData["Title"] = "BookUser";
}



<br /><br />
<div class="section-title mt-5">
    <h2>Reservation Form</h2>
</div>

<div class="row">
    <div class="col-lg-8">
        <form method="post" action="~/booking/book-costumer">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            <div class="form-group">
                <input type="hidden" class="form-control" name="ShopId" aria-describedby="shopidHelp" value="@Model.ShopId">
                <input type="hidden" class="form-control" name="ShopServiceId" aria-describedby="shopidHelp" value="@Model.ShopServiceId">
                <input type="hidden" class="form-control" name="UserId" aria-describedby="useridHelp" value="@Model.UserId">
                <input type="hidden" class="form-control" name="UserName" aria-describedby="nameHelp" value="@Model.UserName" />
                <input type="hidden" class="form-control" name="TitleShopService" aria-describedby="nameHelp" value="@Model.TitleShopService" />
                <input type="hidden" class="form-control" name="PriceShopService" aria-describedby="nameHelp" value="@Model.PriceShopService" />
                <input type="hidden" class="form-control" name="DescriptionShopService" aria-describedby="nameHelp" value="@Model.DescriptionShopService" />
            </div>
            <hr />
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <label for="contactnumber" class="control-label mb-1">Phone Number (*)</label>
                        <input type="text" class="form-control" id="contactNumber" name="ContactNumber" aria-describedby="contactNumberHelp" value="@Model.ContactNumber" placeholder="Enter phone Number">
                    </div>

                    <div class="col-sm-6 form-group">
                        <label for="address" class="control-label mb-1">Location (*)</label>
                        <input type="text" class="form-control" id="address" name="Address" aria-describedby="addressHelp" placeholder="Enter Address">
                    </div>

                    <div class="form-group">
                        <label for="additionalDescription" class="control-label mb-1">Another details (*)</label>
                        <input type="text" class="form-control" id="additionalDescription" name="AdditionalDescription" aria-describedby="additionalDescriptionHelp" placeholder="Enter additonal description">
                    </div>
                    <div class="form-group">
                        <label for="contactnumber" class="control-label mb-1">Date of repair (*)</label>
                        <input type="datetime-local" class="form-control" id="dateAndTime" name="DateAndTime" aria-describedby="dateAndTime" placeholder="Enter date and time">
                    </div>
                   
                    <div id="">
                        <input type="checkbox" id="check_box" />
                        clicking submit you agree to our
                        <a href="~/tac/terms-and-conditions" >Terms and Conditions.</a>
                    </div>
                    <hr />
                    <h3>Required!</h3>
                </div>
            </div>

            <hr />

            <button type="submit" id="submit" class="w-25 btn btn-primary">Submit</button>
            <a href="~/shop/shop-items/@Model.ShopId" class="w-25     btn btn-danger">Cancel</a>


        </form>

    </div>

    <div class="col-lg-4">
        <div class="text-center">
            <h3>@Model.TitleShopService</h3>
        </div>
        <dl class="row">

            <dt class="col-sm-2">Description:</dt>
            <dd class="col-sm-12">@Model.DescriptionShopService</dd>
            <dt class="col-sm-2">Price:   </dt>
            <dd class="col-sm-10">@Model.PriceShopService.ToString("F")</dd>
        </dl>
    </div>
</div>



<!-- I Agree Checkbox by https://www.TermsFeed.com -->
<script type="text/javascript" src="//www.termsfeed.com/public/i-agree-checkbox/releases/1.0.0/i-agree-checkbox.js"></script>
<script src="~/vendor/jquery/jquery-3.5.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#submit").attr('disabled', 'disabled');

        $("form").keyup(function () {
            // To Disable Submit Button
            $("#submit").attr('disabled', 'disabled');
            // Validating Fields
            var contactNumber = $("#contactNumber").val();
            var address = $("#address").val();
            var additionalDescription = $("#additionalDescription").val();
            var dateAndTime = $("#dateAndTime").val();
            var check_box = document.getElementById("check_box");
               
            


            if (!(contactNumber == "" || address == "" || additionalDescription == "" || dateAndTime == "")) {
                if (check_box.checked) {
                    // To Enable Submit Button
                    $("#submit").removeAttr('disabled');
                    $("#submit").css({
                        "cursor": "pointer",
                        "box-shadow": "1px 0px 6px #333"
                    });
                } else {
                    alert("You didn't check it!. Please agree before submitting form.");
                }
              

            }
        });
        // On Click Of Submit Button
        $("#submit").click(function () {
            $("#submit").css({
                "cursor": "default",
                "box-shadow": "none"
            });

        });
    });

    
   
    //document.addEventListener('DOMContentLoaded', function () {
    //    i_agree_checkbox.run({ "palette": "dark", "terms_and_conditions_url": "", "privacy_policy_url": "", "privacy_policy_text_container_id": "#user_i_agree_checkbox_privacy_policy_text_container", "terms_and_conditions_text_container_id": "#user_i_agree_checkbox_terms_and_conditions_text_container", "warning_dialog_text": "Warning. You must accept our terms.", "consent_to_agreements": ["terms_and_conditions"], "agreements_display_type": "full_text", "checkbox_text_area_id": "#i_agree_checkbox_insertable_area", "checkbox_text": "By clicking submit you agree to our %TermsAndConditions%.", "submit_button_id": "#submit_button", "agree_button_text": "OK", "close_button_text": "Cancel" });
    //});


   


</script>
<noscript>I Agree Checkbox by <a href="https://www.TermsFeed.com/i-agree-checkbox/" rel="nofollow noopener">TermsFeed.com</a></noscript>
<!-- End I Agree Checkbox -->
