@model ProjectBSIS401.WEB.ViewModels.home.PricingViewModel
@{
    ViewData["Title"] = "Pricing";
}


<!-- ======= Pricing Section ======= -->
<section id="pricing" class="pricing section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Pricing</h2>
            @*<p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea.</p>*@
        </div>

        <div class="row">
            @foreach (var item in Model.Pricings)
            {
                <div class="col-lg-4 col-md-6">
                    <div class="box Box-Body" data-aos="fade-up" data-aos-delay="100">
                        <h3>@item.Title</h3>
                        <h4>
                            <sup>&#8369</sup>@item.Price.ToString("F")
                            @if (item.Month > 1)
                            {
                                <span> / @item.Month Months</span>
                            }
                            else
                            {
                                <span> / @item.Month Month</span>
                            }
                        </h4>
                        @foreach (var content in item.PricingContents)
                        {
                            <ul>
                                <li>@content.Content</li>

                            </ul>
                        }

                        <div class="btn-wrap">
                            <a href="#" class="btn-buy">Buy Now</a>
                        </div>
                    </div>
                </div>

            }


        </div>

    </div>
</section><!-- End Pricing Section -->



<style>
    .Box-Body:hover {
        background-color: #8B0000;
    }
</style>