<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>@ViewData["Title"] - ProjectBSIS401.WEB</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!--FontAwesome-->
    <link href="~/fontawesome/css/all.min.css" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/vendor/icofont/icofont.min.css" rel="stylesheet">


    <!-- Template Main CSS File -->
    <link href="~/style/style.css" rel="stylesheet">



    <!-- My own Style-->
    <link href="~/style/MyStyleSheet.css" rel="stylesheet">
</head>
<body>
    @Html.Partial("~/views/shared/_nav.cshtml")

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />

    </div>

    @Html.Partial("~/views/shared/_footer.cshtml")

    <!-- Vendor JS Files -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="~/fontawesome/js/all.min.js"></script>

    <!-- Template Main JS File -->
    <script src="~/js/main.js"></script>


    @RenderSection("Scripts", required: false)


</body>
</html>
