<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>@ViewData["Title"] - ProjectBSIS401.WEB</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!--FontAwesome-->
    <link href="~/fontawesome/css/all.min.css" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/vendor/icofont/icofont.min.css" rel="stylesheet">
    <!-- Template Main CSS File -->
    <link href="~/style/style.css" rel="stylesheet">
    <!-- My own Style-->
    <link href="~/style/MyStyleSheet.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/style/simple-sidebar.css" rel="stylesheet">

    <link href="~/vendor/jquery/jquery-ui-1.12/jquery-ui.min.css" />
    <script src="~/vendor/jquery/home.js"></script>

    <!-- Noty -->
    <link href="~/vendor/noty/noty.css" rel="stylesheet" type="text/css" />
    <link href="~/vendor/noty/themes/metroui.css" rel="stylesheet" type="text/css" />
    <script src="~/vendor/noty/noty.min.js"></script>
    <style>
        .noty_bar {
            z-index: 1000;
            background-color: beige;
        }
    </style>

</head>
<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center">
            <a href="~/shop/my-dashboard"><img src="~/image/webLogo/fixit.png" height="75" width="75" /></a><h1 class="logo me-auto"></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt=""></a>-->

            <nav class="nav-menu d-none d-lg-block">
                <ul>
                   
                    <li class="drop-down">
                        <a href="">Service</a>
                        <ul>
                            <li><a class="dropdown-item" href="~/shop-services/my-services/@WebIDS.GetShopId">My Services</a></li>
                            @*<li><a class="dropdown-item"  data-bs-toggle="modal" data-bs-target="#addNewServiceModal" >Add New Service</a></li>*@

                        </ul>
                    </li>
                    @*<li class="drop-down">
                        <a href="">Data</a>
                        <ul>
                            <li><a class="dropdown-item" href="~/shop/business-insight">Business Insights</a></li>
                            <li><a class="dropdown-item" href="#">My Costumer</a></li>

                        </ul>
                    </li>*@
                    <li class="drop-down">
                        <a href="">Shop</a>
                        <ul>
                            @*<li><a class="dropdown-item" href="~/shop/@WebIDS.GetShopId">Shop Feedback</a></li>*@
                            <li><a class="dropdown-item" href="~/shop/shop-update-profile/@WebIDS.GetShopId">Shop Update Profile</a></li>
                            @*<li><a class="dropdown-item" href="#">My Reports</a></li>*@
                        </ul>
                    </li>
                    <li class="drop-down">
                        <a href="">Costumer-Service</a>
                        <ul>
                            @*<li><a class="dropdown-item" href="#">Feedbacks</a></li>*@
                            <li><a class="dropdown-item" href="~/shop/my-chat">My Chat</a></li>

                        </ul>
                    </li>


                    @{
                        @if (!WebUser.IsUserLogggedIn() == true)
                        {
                            <li><a href="~/account/login">Sign In</a></li>
                        }
                        else
                        {

                            <li class="drop-down">
                                <a href="">Account</a>
                                <ul>
                                    <li class="drop-down">
                                        <a href="#">Settings</a>
                                        <ul>
                                            <li><a class="dropdown-item" href="~/shop/shop-update-profile/@WebIDS.GetShopId">Update Shop Profile</a></li>
                                            <li><a class="dropdown-item" href="~/shop/profile/@WebIDS.GetShopId">Shop Profile</a></li>
                                            
                                            <li><a class="dropdown-item" href="~/account/logout">Logout</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>

                        }


                    }


                </ul>
            </nav><!-- .nav-menu -->


        </div>
    </header><!-- End Header -->



    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />

    </div>

    @*@Html.Partial("~/views/shared/_footer.cshtml")*@
 <script>
        var currentUser = '@WebIDS.GetPublicUserId';
    </script>
    <script>
         var currentShop = '@WebIDS.GetShopAdminId';
    </script>
    <!-- Vendor JS Files -->
    <script src="~/vendor/jquery/jquery-3.5.1.min.js"></script>
    <script src="~/vendor/jquery/jquery-ui-1.12/jquery-ui.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/fontawesome/js/all.min.js"></script>
    <script src="~/vendor/noty/noty.js"></script>
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/vendor/jquery/home.js"></script>
    <!-- Template Main JS File -->
    <script src="~/main/main.js"></script>


    @RenderSection("Scripts", false)


</body>
</html>
