@model ProjectBSIS401.WEB.ViewModels.shop.IndexViewModel
@using ProjectBSIS401.WEB.Infrastructures.Domain.Helper
@{
    ViewData["Title"] = "Index";
}




<br /><br />
<div class="section-title">
    <h2>Shops</h2>
    <p></p>
</div>

<hr />

@if (Model.Shops != null)
{
    if (Model.Shops.Items.Count > 0)
    {
<div class="container py-5" id="custom-cards">
    <div class="row">
        <div class="col-lg-4">
            <div class="input-group mt-5 mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Shops</span>
                </div>
                <select class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" id="searchStatus" onchange="searchTrigger()" placeholder="Shop Status">
                    @{
                        foreach (BusinessType business in Model.businessTypes)
                        {
                            if (Model.businessType == business)
                            {
                                <option value="@business" selected>@business.ToString()</option>
                            }
                            else
                            {
                                <option value="@business">@business.ToString()</option>
                            }
                        }
                    }
                </select>
            </div>
        </div>

        <div class="col-lg-8">
            <div class="input-group mt-5">
                <input type="text" id="searchKeyword" placeholder="search shops" class="form-control" aria-label="search shops" aria-describedby="basic-addon2" value="@Model.Shops.Keyword">
                <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2"><a href="#" onclick="searchTrigger()"><i class="fa fa-search" aria-hidden="true"></i></a></span>
                </div>
            </div>
        </div>
    </div>
    <h2 class="pb-2 border-bottom"></h2>
    <div class="row row-cols-3 align-items-stretch py-5">
        @foreach (var shop in Model.Shops.Items)
        {
            <a href="~/shop/shop-items/@shop.Id">
                <div class="col pb-5">

                    <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('/image/shops/banner/@shop.Id/banner.png');">
                        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">@shop.BusinessDescription</h2>
                            <ul class="d-flex list-unstyled mt-auto">
                                <li class="me-auto">
                                    <img src="~/image/shops/logo/@shop.Id/logo.png" alt="Fixit" width="32" height="32" class="rounded-circle border border-white">
                                </li>
                                <li class="d-flex align-items-center me-3">
                                    <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                                    <small>@shop.BusinessName</small>
                                </li>
                                <li class="d-flex align-items-center">
                                    <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                                    <small>@shop.OpenAt</small>
                                </li>
                                <li class="d-flex align-items-center">
                                    <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                                    <small>@shop.CloseAt</small>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </a>

        }

    </div>
    <div class="position-relative">
        <div class="position-absolute bottom-0 start-50 translate-middle-x">
            <nav aria-label="...">
                <ul class="pagination">
                    <li class="page-item"><span class="form-control-plaintext">Page&nbsp;&nbsp;&nbsp;</span></li>
                    <li class="page-item"><input type="number" value="@Model.Shops.PageIndex" class="form-control" style="width:50px;" onKeydown="javascript: if(event.keyCode == 13 && isNaN(parseInt($(this).val()))==false) window.location='/shop/index?pageIndex=' + (isNaN(parseInt($(this).val())) ? 1 : parseInt($(this).val())) + '&keyword=@(Model.Shops.Keyword)&status=@(Model.businessType)" /></li>
                    <li class="page-item"><span class="form-control-plaintext">&nbsp;&nbsp;&nbsp;of @Model.Shops.PageCount&nbsp;&nbsp;&nbsp;</span></li>
                    @{
                        var prev = Model.Shops.PageIndex - 1;
                        if (prev > 0)
                        {
                            <li class="page-item"><a class="page-link" href="~/shop/index?keyword=@Model.Shops.Keyword&status=@Model.businessType&pageSize=@Model.Shops.PageSize&pageIndex=@prev"><span aria-hidden="true">&laquo;</span></a></li>
                        }
                    }
                    <li class="page-item"><a class="page-link" href="#">@(Model.Shops.PageIndex)</a></li>
                    @{
                        var next = Model.Shops.PageIndex + 1;
                        if (next <= Model.Shops.PageCount)
                        {
                            <li class="page-item"><a class="page-link" href="~/shop/index?keyword=@Model.Shops.Keyword&status=@Model.businessType&pageSize=@Model.Shops.PageSize&pageIndex=@next"><span aria-hidden="true">&raquo;</span></a></li>
                        }
                    }
                </ul>
            </nav>
        </div>
       
    </div>
   
</div>

    }
}


<script src="~/vendor/jquery/jquery.min.js"></script>
<script>
    $("#searchKeyword").keyup(function (event) {
        if (event.keyCode === 13) {
            searchTrigger();
        }
    });

    function searchTrigger() {
        window.location = "/shop/index?pageIndex=1&keyword=" + $("#searchKeyword").val() + "&status=" + $("#searchStatus").val();
    }

</script>
