@model ProjectBSIS401.WEB.ViewModels.shop.IndexViewModel
@using ProjectBSIS401.WEB.Infrastructures.Domain.Helper
@{
    ViewData["Title"] = "Index";
}




<div class="row">
    <div class="col-lg-5">
        <div class="input-group mt-5">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Status</span>
            </div>
            <select class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" id="searchBtype" onchange="searchTrigger()" placeholder="Status">
                @{
                    foreach (BusinessType businessType in Model.listbusinessTypes)
                    {
                        if (Model.businessType == businessType)
                        {
                            <option value="@businessType" selected>@businessType.ToString()</option>
                        }
                        else
                        {
                            <option value="@businessType">@businessType.ToString()</option>
                        }
                    }
                }
            </select>
        </div>

        @if (!WebUser.IsUserLogggedIn() == true)
        {
            <p>if you login your account you can create your own shop if you want</p>
        }
        else
        {
            <div class="input-group-append">
                <a href="~/shop/shop-create/@Model.UserId" class="btn btn-primary">Create Shop</a>
            </div>
        }


    </div>

    <div class="col-lg-3 ">
        <div class="input-group mt-5">
            <input type="text" id="searchKeyword" placeholder="search services" class="form-control" aria-label="search shop" aria-describedby="basic-addon2" @*value="@Model.Keyword"*@>
            <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2"><a href="#" onclick="searchTrigger()"><i class="fa fa-search" aria-hidden="true"></i></a></span>
            </div>
        </div>
    </div>
</div>


       
  

<br />
<div >
    <div class="row">
        @foreach (Shop shop in Model.Shops)
        {
            <div class="col-lg-6 portfolio-item">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="~/image/shops/banner/@shop.Id/banner.png" style="height:260px;" alt="banner"></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            @*<label class="form-label">owner: @shop.OwnerShop</label>*@
                            <a href="~/shop/shop-items/@shop.Id/@Model.UserId">@shop.BusinessName</a>
                        </h4>
                        <p id="description" class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
               
                    </div>
                </div>
            </div>
        }
    </div>
</div>

    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script>
      


        $("#searchKeyword").keyup(function (event) {
            if (event.keyCode === 13) {
                searchTrigger();
            }
        });

        function searchTrigger() {
            window.location = "/shop/index?pageIndex=1&keyword=" + $("#searchKeyword").val(); + "&btypes=" + $("#searchBtype").val();
        }
    </script>
