@model ProjectBSIS401.WEB.Infrastructures.Domain.Models.Shop
@using ProjectBSIS401.WEB.Infrastructures.Domain.Models


@{
    ViewData["Title"] = "ShopProfile";
}



<br /><br />
<div class="container">
    <div class="fb-profile">



        <form action="~/shop/update-banner" method="post" enctype="multipart/form-data">
            <div class="form-group">

                <label for="Banner"></label><br />
                <img src="~/image/shops/banner/@Model.Id/banner.png " id="imgProfile" style="width: 750px; height: 300px; border-bottom: 2px #0094ff solid" class="img-thumbnail" />

                @Html.ValidationSummary()
                <div class="float-left">
                    <img src="~/image/shops/thumbnail/@Model.Id" id="imgProfile" style="width: 150px; height: 150px; border: 2px #0094ff solid;" class="img-thumbnail" />

                 <br /><br />   
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.OwnerShop) :
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.OwnerShop)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.BusinessName) :
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.BusinessName)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.BusinessType):
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.BusinessType)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.BusinessEmailAddress):
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.BusinessEmailAddress)
                        </dd>

                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.BusinessLocation):
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.BusinessLocation)
                        </dd>
                    </dl>

                </div>

            </div>


        </form>
        <div class="mb-3">
            <input type="hidden" name="ShopId" value="@Model.Id" />

        </div>

        <br />
        <div class="fb-profile-text mb-3">


            <a href="~/shop/shop-update-profile/@Model.Id" class="btn btn-primary">Update Shop</a>
            <a href="~/shop/update-banner/@Model.Id" class="btn btn-primary">Update Banner</a>
            <a href="~/shop/shop-update-thumbnail/@Model.Id" class="btn btn-primary">Update Logo</a>
            <a href="~/service/service-create/@Model.Id" class="btn btn-primary">Create Services</a>
            <a href="~/service/index" class="btn btn-primary">My Services</a>




        </div>

    </div>

</div>



<div class="modal" tabindex="-1" role="dialog" id="modal-delete-user">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete <span id="modal-delete-user-username"></span>?</p>
            </div>
            <div class="modal-footer">
                <a href="#" id="modal-delete-user-confirm"><button type="button" class="btn btn-primary">Delete User</button></a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>






<div class="mt-5">
    <table class="table table-borderless table-striped table-hover">
        <thead>
            <tr class="table-info">
                <th>Fullname</th>
                <th>Adress</th>
                <th>Contact</th>
                <th></th>
            </tr>
        </thead>
        <tbo@*dy>
            @{
                foreach (Booking booking in Model.Bookings)
                {
                    <tr>
                        <td>@booking.User.UserName</td>
                        <td>@booking.Address</td>
                        <td>@booking.ContactNumber</td>
                        <td>
                            <a href="#" onclick="confirmDeleteUser('@booking.Id', '@booking.UserName')" title="Delete Costumer"><button type="button" class="btn"><i class="fas fa-key"></i></button></a>
                        </td>

                    </tr>
                }
            }*@
        </tbody>

    </table>
</div>







<script type="text/javascript">





    function confirmDeleteUser(costumerId, userName) {
        $("#modal-delete-booking-username").html(userName);
        $("#modal-delete-booking-confirm").attr("href", "/booking/delete/" + costumerId);
        $("#modal-delete-booking").modal("show");
    }

    $("#searchKeyword").keyup(function (event) {
        if (event.keyCode === 13) {
            searchTrigger();
        }
    });

    function searchTrigger() {
        window.location = "/shop/shop-profile?pageIndex=1&keyword=" + $("#searchKeyword").val() + "&status=" + $("#searchStatus").val();
    }
</script>
