@model ProjectBSIS401.WEB.ViewModels.shop.ShopHomeViewModel
@using ProjectBSIS401.WEB.Infrastructures.Domain.Models


@{
    ViewData["Title"] = "ShopHome";
}
<link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/style/simple-sidebar.css" rel="stylesheet" />

<br /><br />
      <div class="d-flex" id="wrapper">
          <!-- Sidebar -->
          <div class="bg-light border-right" id="sidebar-wrapper">
              <h1 class="logo me-auto float-lg-start"><a href="~/shop/update-logo/@Model.Shops.Id"><img src="~/image/shops/logo/@Model.Shops.Id/logo.png" style="width:75px; height:75px;border-radius: 50%; border: 1px solid #9fc0d8  ; " /></a></h1>
              <div class="sidebar-heading">&nbsp;@Model.Shops.BusinessName</div>
              <div class="list-group list-group-flush">
                  <a href="~/shop-services/index/@Model.Shops.Id" class="list-group-item list-group-item-action bg-light"><i class="fas fa-cogs"></i> &nbsp;Add-Services</a>
                  <a href="~/feedback/list-feedbacks/@Model.Shops.Id" class="list-group-item list-group-item-action bg-light"><i class="fas fa-comment-dots"></i> &nbsp;Feedbacks <span class="offset-5 text-dark">@Model.Count</span></a>
                  <a href="#" class="list-group-item list-group-item-action bg-light"><i class="fas fa-user-alt"></i> &nbsp;Profile</a>
                  <a href="#" class="list-group-item list-group-item-action bg-light"><i class="fas fa-circle"></i> &nbsp;Status</a>
                  <br />
                  <h6 class="sidebar-heading"><span>Total</span></h6>

                  <a href="#" class="list-group-item list-group-item-action bg-light"><i class="fas fa-users"></i> &nbsp;Costumer <span class="offset-5 text-dark">@Model.costumerCount</span></a>
                  <a href="#" class="list-group-item list-group-item-action bg-light"><i class="fas fa-list"></i> &nbsp;Services<span class="offset-5 text-dark">@Model.serviceCount</span></a>




              </div>

          </div>
          <!-- /#sidebar-wrapper -->
          <!-- Page Content -->
          <div id="page-content-wrapper">
              <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                  <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>

                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                  </button>

              </nav>

              <div class="container-fluid">
                  <a href="~/shop/update-banner/@Model.Shops.Id" class="img-hover"><img src="~/image/shops/banner/@Model.Shops.Id/banner.png " style="min-width:1100px; height:300px;" class="img-fluid" alt="Responsive image"></a>
                  <hr />
                  <button type="button" id="btnToggle" class="btn btn-primary"><i id="icon" class="fas fa-toggle-on"></i></button>
                  <div class="table-responsive">
                      <h2>Costumers-list</h2>
                      <table id="costumerList" class="table table-striped table-sm">
                          <thead>
                              <tr>
                                  <th>Fullname</th>
                                  <th>Address</th>
                                  <th>Contact</th>
                                  <th>Status</th>
                                  <th>Date</th>
                                  <th></th>
                              </tr>
                          </thead>
                          <tbody>
                              @{ if (Model.Bookings != null)
                                  {
                                      if (Model.Bookings.Count > 0)
                                      {
                                          foreach (Booking booking in Model.Bookings)
                                          {
                                              <tr>
                                                  <td>@booking.UserName</td>
                                                  <td>
                                                      @if (booking.Address.Length <= 15)
                                                      {
                                                          @booking.Address
                                                      }
                                                      else
                                                      {
                                                          @booking.Address.Substring(0, 15)<span>...</span>
                                                      }
                                                  </td>
                                                  <td>@booking.ContactNumber</td>
                                                  <td>
                                                      <select class="custom-select" id="reserveStatus">
                                                          <option selected>Choose...</option>
                                                          <option value="1">Pending</option>
                                                          <option value="2">Confirm</option>
                                                          <option value="3">Completed</option>
                                                          <option value="3">Cancel</option>
                                                      </select>
                                                  </td>
                                                  <td>@booking.UpdatedAt.ToString("dddd, MM/dd/yy HH:mm tt")</td>
                                                  <td>
                                                      <a href="#" onclick="confirmDeleteUser('@booking.Id','@Model.Shops.Id','@booking.UserName')" title="Delete Costumer"><button type="button" class="btn"><i class="fas fa-trash-alt fas" style="color:#d11111"></i></button></a>
                                                      <a href="~/booking/details/@booking.Id" title="Details"><button type="button" class="btn"><i class="fas fa-info" style="color:#1e7d28;"></i></button></a>
                                                  </td>

                                              </tr>
                                          }
                                      }
                                  }

                              }
                          </tbody>
                      </table>

                  </div>
                  <button type="button" id="btnToggleService" class="btn btn-primary"><i id="iconService" class="fas fa-toggle-on"></i></button>
                  <div>
                      <div class="table-responsive">
                          <h2>Services-list: @Model.serviceCount</h2>
                          <table id="serviceList" class="table table-striped table-sm">
                              <thead>
                                  <tr>
                                      <th>Name</th>
                                      <th>Price</th>
                                      <th>Description</th>
                                      <th>Date</th>
                                      <th></th>
                                  </tr>
                              </thead>
                              <tbody>
                                  @{ if (Model.ShopServices != null)
                                      {
                                          if (Model.ShopServices.Count > 0)
                                          {
                                              foreach (ShopService shopService in Model.ShopServices)
                                              {
                                                  <tr>
                                                      <td>@shopService.Service</td>
                                                      <td>@shopService.Price.ToString("F")</td>
                                                      <td>
                                                          @if (shopService.Description.Length <= 25)
                                                          {
                                                              @shopService.Description
                                                          }
                                                          else
                                                          {
                                                              @shopService.Description.Substring(0, 25)<span>...</span>
                                                          }
                                                      </td>
                                                      <td>@shopService.UpdatedAt.ToString("dddd, dd MMMM yyyy HH:mm")</td>
                                                      <td>
                                                          <a href="#" onclick="confirmDeleteShopServices('@shopService.Id','@Model.Shops.Id','@shopService.Service')" title="Delete Costumer"><button type="button" class="btn"><i class="fas fa-trash-alt fas" style="color:#d11111"></i></button></a>
                                                          <a href="~/shop/shop-items-info/@Model.Shops.Id" title="Details"><button type="button" class="btn"><i class="fas fa-info" style="color:#1e7d28;"></i></button></a>
                                                      </td>

                                                  </tr>
                                              }
                                          }
                                      }

                                  }
                              </tbody>
                          </table>
                      </div>


                  </div>
              </div>
          </div>
          <!-- /#page-content-wrapper -->
          <!--Modal Delete Booking-->
          <div class="modal" tabindex="-1" role="dialog" id="modal-delete-booking">
              <div class="modal-dialog" role="document">
                  <div class="modal-content">
                      <div class="modal-header">
                          <h5 class="modal-title">Delete User</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span id="close" aria-hidden="true">&times;</span>
                          </button>
                      </div>
                      <div class="modal-body">
                          <p>Are you sure you want to delete <span id="modal-delete-booking-username"></span>?</p>
                      </div>
                      <div class="modal-footer">
                          <a href="#" id="modal-delete-booking-confirm"><button type="button" class="btn btn-primary">Delete Costumer</button></a>
                          <button type="button" id="closeButton" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      </div>
                  </div>
              </div>
          </div>


          <!--Modal Delete Shop-Services-->
          <div class="modal" tabindex="-1" role="dialog" id="modal-delete-shop-services">
              <div class="modal-dialog" role="document">
                  <div class="modal-content">
                      <div class="modal-header">
                          <h5 class="modal-title">Delete User</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span id="closeShopService" aria-hidden="true">&times;</span>
                          </button>
                      </div>
                      <div class="modal-body">
                          <p>Are you sure you want to delete <span id="modal-delete-shop-services-name"></span>?</p>
                      </div>
                      <div class="modal-footer">
                          <a href="#" id="modal-delete-shop-services-confirm"><button type="button" class="btn btn-primary">Delete Costumer</button></a>
                          <button type="button" id="closeButtonShopService" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      </div>
                  </div>
              </div>
          </div>


          <!--Modal ChangeSatus-->
          <div class="modal" tabindex="-1" role="dialog" id="modal-change-status-booking">
              <div class="modal-dialog" role="document">
                  <div class="modal-content">
                      <div class="modal-header">
                          <h5 class="modal-title">Change status user booking</h5>
                          <button type="button" class="btn-close">
                              <span aria-hidden="true">&times;</span>
                          </button>
                      </div>
                      <div class="modal-body">
                          <p>Are you sure you want to delete <span id="modal-change-status-username"></span>?</p>
                      </div>
                      <div class="modal-footer">
                          <a href="#" id="modal-change-status-confirm"><button type="button" class="btn btn-primary">Confirm change-status</button></a>
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      </div>
                  </div>
              </div>
          </div>


          <script src="~/vendor/jquery/jquery-3.5.1.min.js"></script>
          <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
          <script type="text/javascript">
              $("#btnToggle").click(function (e) {
                  if (e.click != true) {
                      $("#icon").attr({
                          "class": "fas fa-toggle-off"
                      });
                  }
                  else {
                      $("#icon").attr({
                          "class": "fas fa-toggle-on"
                      });
                  }
                  e.preventDefault();
                  $("#costumerList").toggle("slow");
              });



              $("#btnToggleService").click(function (e) {
                  if (e.click != true) {
                      $("#iconService").attr({
                          "class": "fas fa-toggle-off"
                      });
                  }
                  else {
                      $("#iconService").attr({
                          "class": "fas fa-toggle-on"
                      });
                  }
                  e.preventDefault();
                  $("#serviceList").toggle("slow");
              });

              $("#menu-toggle").click(function (e) {
                  e.preventDefault();
                  $("#wrapper").toggleClass("toggled");
              });

              function confirmDeleteUser(bookingId, shopId, userName) {
                  $("#modal-delete-booking-username").html(userName);
                  $("#modal-delete-booking-confirm").attr("href", "/booking/delete-user-booking/" + bookingId + "/" + shopId);
                  $("#modal-delete-booking").modal("show");

                  $("#close").click(function () {
                      $("#modal-delete-booking").modal("hide");
                  })

                  $("#closeButton").click(function () {
                      $("#modal-delete-booking").modal("hide");
                  })

              }

              function confirmDeleteShopServices(shopServiceId, shopId, Name) {
                  $("#modal-delete-shop-services-name").html(Name);
                  $("#modal-delete-shop-services-confirm").attr("href", "/shop-services/delete-services-shop-services/" + shopServiceId + "/" + shopId);
                  $("#modal-delete-shop-services").modal("show");

                  $("#closeShopService").click(function () {
                      $("#modal-delete-shop-services").modal("hide");
                  })

                  $("#closeButtonShopService").click(function () {
                      $("#modal-delete-shop-services").modal("hide");
                  })

              }
              //$("#searchKeyword").keyup(function (event) {
              //    if (event.keyCode === 13) {
              //        searchTrigger();
              //    }
              //});

              function searchTrigger() {
                  window.location = "/shop/shop-profile?pageIndex=1&keyword=" + $("#searchKeyword").val() + "&status=" + $("#searchStatus").val();
              }
          </script>


          <style>
              .container-fluid img:hover {
                  border: 1px #ea1f1f solid;
              }
          </style>
