@model ProjectBSIS401.WEB.Infrastructures.Domain.Models.Shop
@{
    Layout = "~/areas/manage/views/shared/_forms.cshtml";
}
<div class="section-title">
    <h2>Details</h2>
    <p></p>
</div>

<div>
    <h4>Shop</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OwnerShop)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OwnerShop)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BusinessName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessLocation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BusinessLocation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessEmailAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BusinessEmailAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessContact)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BusinessContact)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OpenAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OpenAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CloseAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CloseAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BusinessType)
        </dd>
    </dl>
</div>
<div>
    <a href="~/manage/shop/edit/@Model.Id" class="btn btn-primary" asp-route-id="@Model.Id">Edit</a> |
    <a href="~/manage/shops" class="btn btn-danger">Back to List</a>
</div>
