@model ProjectBSIS401.WEB.ViewModels.shopServices.AddViewModel
@{
    ViewData["Title"] = "Add";
}

<h2>Add</h2>
<div asp-validation-summary="All" class="text-danger"></div>
<form method="post" action="~/shop-services/add">
    @Html.AntiForgeryToken()
    <input type="hidden" name="ServiceId" value="@Model.ServiceId" />
    <input type="hidden" name="ShopId" value="@Model.ShopId" />
    <input type="hidden" name="Service" value="@Model.Service" />
    <input type="hidden" name="Description" value="@Model.Description" />
    <div class="form-group">
        <h3 class="form-label">@Model.Service</h3>
        <hr />
        <p>@Model.Description</p>
    </div>

    <div class="form-group">
        <label for="Price" class="form-label">Price</label>
        <input class="form-control" type="text" name="Price" placeholder="Price" />
    </div>
    <br />

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="~/shop/my-dashboard" class="btn btn-danger">Cancel</a>
    </div>
</form>